html{
	background: url('../images/WaterSandBackground.jpg') no-repeat center center fixed;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{

	font-family: arial;
}
h1{
	text-align: center;
	color: #232311;
}
.container{
	width: 350px;
	height: 350px;
	/*background-color: black;*/
	overflow: none;
	margin: 0 auto;
}
.square{
	width:100px;
	height: 100px;
	background-image: url('../images/wood_grain3.jpg');
	background-size: contain;
	/*background-color: #232311;*/
	float: left; /*Don't delete this! Keeps the squares from moving around*/
	margin:5px;
	border: 1px solid #232311;
	color: purple;
	text-align: center;
	border-radius: 20%;

}
.gamePiece{
	height:100px;
	width:100px;
	border:0px;
}
.xSelected{
	background-image: url('../images/starfish1.png');
	background-size: contain;
}
.oSelected{
	background-image: url('../images/seashell1_edited.png');
	background-size: contain;
}
.winnerIdentity{
	color: white;
	margin: 0px auto;
	text-align: center;
	z-index: 100;
	position: relative;
	top: 100px;
	background-color: #E9A656;
	width: 400px;
}
.winnerIdentityDiv{
	height: 0px;
}

.currentTurn{
	font-weight: bold;
	color: #342A14;
/*	background-image: url('../images/driftwood2.png');
	background-size: 80px 20px;
	background-repeat: no-repeat;*/
}
.notCurrentTurn{
	color: lightgray;
}

/*Styling for image that shows play again button */
.playAgainImage{
	margin: 0 auto;
	width: 200px;
	display: block;
}
.playAgain{
	margin: 0 auto;
}
.driftwood{
	width: 80px;
	height: 20px;
}
.centeredText{
	text-align: center;
	margin: 0 auto;
}
table {
  border-collapse: collapse;
  text-align: center;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}