<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Tic Tac Toe!</title>
    <link rel="stylesheet" href="css/style-angular.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <script src="js/angular.min.js"></script>

	<!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>

    <script src="js/ttt-logic.js"></script>
</head>
<body ng-app='tttApp' ng-controller='tttController'>
	<header> 
		<h1 class='animated zoomInLeft'>Welcome to Tic-Tac-Toe!</h1>
	</header>
	<div id="container">
		<!-- Creates board -->
		<div ng-repeat="gamePiece in board track by $index"
			ng-class='{square:true, xSelected:gamePiece=="x", oSelected:gamePiece=="o"}'
			ng-click='makeMove($index)'
			ng-bind='gamePiece.playerMove'
			>
		</div> 
		<!-- ^End div that creates board -->
	<div id="container">

</body>
</html>